*{
    margin: 5;
	  padding: 0;
    box-sizing: border-box;
  }
body{
    background-color: rgb(171, 171, 136);
    display: flex;
    justify-content: center;
    align-items: center;
}
.row {
    width: 100%;
    max-width: 1000px;
    min-height: 100px;
    background-color: rgb(126, 96, 96);
    margin: 30px;
    display: grid;
    grid-template-columns: 2fr 4fr;
}
.column{
    position: initial;
    background-color: rgb(220, 234, 186);
    padding: 20px;
}
.column1{
    position: initial;
    background-color: rgb(229, 234, 220);
    padding: 30px;
}
  hr.style{
    height: 2px;
    width: 70%; 
    text-align: left; 
    margin: 0;
  }
  .heading{
    color: rgb(209, 24, 49);
  }
  .subheading{
    color: black;
  }
  a:link {
    color: rgb(54, 50, 126);
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: rgb(199, 8, 220);
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: rgb(30, 187, 18);
    background-color: transparent;
    text-decoration: underline;
  }