* {
  margin: 5;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(224, 238, 228);
  display: flex;
  justify-content: center;
  align-items: center;
}
.row {
  width: 100%;
  max-width: 1000px;
  min-height: 100px;
  background-color: white;
  margin: 30px;
  display: grid;
  grid-template-columns: 2fr 4fr;
}
.column{
  position: initial;
  background-color: rgb(234, 213, 213);
  padding: 20px;
}
.column1{
  position: initial;
  background-color: rgb(247, 150, 89);
  padding: 30px;
}
hr.style{
  height: 2px;
  width: 70%; 
  text-align: left; 
  margin: 0;
}
.heading{
  color: black;
}
.subheading{
  color: black;
}
a:link {
  color: rgb(237, 30, 15);
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: rgb(244, 19, 19);
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: rgb(74, 31, 215);
  background-color: transparent;
  text-decoration: underline;
}